@import "tailwindcss";

:root {
  --surface: #f5e6cc;
  --surface-2: #ffffff;
  --line: #a64ac9;
  --text: #0d0d0d;
}

html,
body {
  min-height: 100%;
}

body {
  color: var(--text);
  background: #ffb48f;
}
